.phone-input {
  padding: 0.5rem;

  /* width: 220px; */

  /* width: 100%; */
  font-size: 0.9rem;
  border-radius: 4px;
}

.light-phone-input > .phone-input {
  background-color: #f0f3f5;
  border: 1px solid #f0f3f5;
}

.phone-input-container:focus-within > .phone-input {
  border: 1px solid #228be6;
}

.phone-input > input {
  background: transparent;
  border: none;
}

.phone-input > input:active,
.phone-input > input:focus {
  outline: none;
}

/* .PhoneInputInput {
  border: none;
  background: transparent;
}
.PhoneInputInput:active,
.PhoneInputInput:focus {
  outline: none;
} */
